
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 100%;
    font-family: Rubik;
}
header{
    background-image: url('images/pattern-bg.png');
    background-repeat: no-repeat;
    text-align: center;
    height: 40vh;
    padding: 3rem;
    background-size: cover;
    /* margin-bottom: 0px; */
    position: relative;
    
    
}
.head{
    position: absolute;
    top: 40%;
    
    bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
header h2{
    text-align: center;
    color: #fff;
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 1.5rem;

}
label{
     position: relative; 
}
.UserInput{
    width:250px;
    height: 40px;
    padding: 12px;
    border-radius: .5rem;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    outline: none;
}
.userbtn{
    position: absolute;
    border-bottom-right-radius: .5rem;
    border-top-right-radius:.5rem ;
    right: 0;
    height: 40px;
    padding: 12px ;
    
    background-color: black;
    border: none;

}
.container{
    position: absolute;
    z-index: 1;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(184, 125, 125, 0.075);
    margin:  auto;
    left: 50%;
    
    /* bottom: 0; */

    transform: translate(-50%, -50%);
    border-radius: .9rem;
    width: 70%;
    align-items: center;
    flex-direction: column;
    
    
    

}
.error-message{
    color: red;
    padding: .5rem;
}
.main-content{
    padding: 1rem;
    width: auto;
   
}

.ip-info{
    margin-top: 20px;
}
/* .ip-info:not(:last-child)::after{ */
    .ip-info::after{
    content: '';
    border-left-color: 2px hsl(0, 0%, 59%);
    width: 5px;
    height: 60px;
    background-color:2px hsl(0, 0%, 59%);
    right: 0;
    position: absolute;
    top: 0;
    margin: auto;
}
 label{
    color:hsl(0, 0%, 59%);
    font-weight: 500;
    text-transform: uppercase;
}
#map{
    display: block;
    height: 55vh;
    z-index: 0;
    /* background-size: cover; */
    margin: auto;
}
footer {
    text-align: center;
    padding: .8rem;
    color: #222;
}
footer a {
    text-decoration: none;
    list-style: none;
    color: #222;
}
@media only screen and (min-width: 1000px){
    .UserInput{
        width: 400px;
    }
    
    .main-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20vh;
    }
    .ip-info{
        margin:30px ;
    }

}